<div class="col-md-8">

    <h3>All applicants</h3>


    <br/>
    <!-- 
    <p class="text-right">
    <label for="">Search: </label> <input type="text" ng-model="applicantFilter"/>
    </p>
    <br/><br/> -->

    <form class="form-inline text-right">
        <div class="form-group">
            <label for="applicantFinder">Search applicants:</label>
            <input type="text" class="form-control" ng-model="applicantFilter" id="applicantFinder">
        </div>
    </form>
    
    <br/><br/>

    <table class="table table-striped table-bordered">
        <thead>
            <th>Picture</th>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Profile</th>
        </thead>
        <tbody>
            <tr ng-repeat="applicant in applicants.results | filter:applicantFilter" class="repeat-animation">
                <td><img width="40" height="40" src="{{ applicant.user.picture.thumbnail }}" alt=""/></td>
                <td>
                    {{ applicant.user.name.first }} {{ applicant.user.name.last }}
                </td>
                <td>{{ applicant.user.location.city }}</td>
                <td>{{ applicant.user.location.state }}</td>
                <td><a href="#/profile/{{ applicant.user.username }}">View profile</a></td>

            </tr>
        </tbody>
    </table>
</div>

